<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Add Spending Record</title>
</head>
<body>
    <h1>Add Spending Record</h1>
    <form name="input" action="/spending-add/" method="get">
        Date:
        <input type="text" name="spending_date" />
        <!--<input type="submit" value="Submit" />-->

        Amount:
        <input type="text" name="spending_amount" />
        <!--<input type="submit" value="Submit" />-->

        Category:
        <input type="text" name="spending_category_id" />
        <!--<input type="submit" value="Submit" />-->

        Note:
        <input type="text" name="spending_note" />
        <input type="submit" value="Add" />
    </form>
</body>
</html>